// Font
$mainFont                : 'Open Sans', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #191919;
$mainFontSize            : 16px;
$mainFontWeight          : 400;

$fullHdWidth             : 1400px;
$desktopWidth            : 1200px;
$smDesktopWidth          : 992px;
$tableWidth              : 768px;
$phoneWidth              : 576px;
$smPhoneWidth            : 320px;

// Colors

// background
$blue-light-bg             : #3F84F7;
$blue-dark-bg              : #3874DA;
$grey-light-bg             : #E6E6E6;
$grey-dark-bg              : #6A6A6A;
$yellow-bg                 : #FFD301;
$dark-bg                   : #24303A;

// font
$blue-font                 : #3874DA;
$grey-dark-font            : #BABBBB;
