// Font
$mainFont                : 'Roboto', Helvetica, Arial, sans-serif;

// Size
$mainFontColor           : #151515;
$mainFontSize            : 16px;
$mainFontWeight          : 400;

$fullHdWidth             : 1700px;
$desktopWidth            : 1400px;
$smDesktopWidth          : 1024px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors

//// background
//$darkGreyBg              : #222222;
//$darkGreenBg             : #13402C;
//$midGreenBg              : #276E44;
//$lightGreenBg            : #508835;
//$lightCreamBg            : #F2F6E9;
//
//// font
//$midGreyFont             : #5F5F5F;
//$lightGreyFont           : #a1a1a1;
//$darkGreenFont           : #13402C;
//$midGreenFont            : #276e44;
//$lightGreenFont          : #79d84a;